<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
      body {
        background-color: rgb(52, 125, 235);
      }
    </style>
  </head>
  <body>
    <h1>This Page Could Not Be Found, Please Try Again :( </h1>
    
  </body>
</html>
