<!DOCTYPE html>
<html>
<head>
	<title>Cute Animals</title>
	<style>
		body {
			background-color: rgb(245, 161, 213);
		}
		button {
			padding: 10px 20px;
			font-size: 18px;
			border-radius: 5px;
			background-color: rgb(255, 255, 255);
			color: rgb(244, 155, 225);
			border: 2px solid rgb(24, 226, 253);
			cursor: pointer;
		}
	</style>
</head>
<body>
	<h1>Here are some cute animals :)</h1>
	<a href="https://www.pexels.com/photo/gray-and-white-kitten-on-white-bed-2061057/">CuteCat</a><br>
    <br>
    <a href="https://www.pexels.com/photo/short-coated-black-and-brown-puppy-in-white-and-red-polka-dot-ceramic-mug-on-green-field-39317/">Tiny Puppy</a><br>
    <br>
    <a href="https://www.pexels.com/photo/blue-and-black-butterfly-on-green-leaves-89770/">Butterfly</a><br>
    <br>
    <a href="https://www.pexels.com/photo/a-person-putting-a-ice-cream-cone-on-rabbits-head-4588423/">Funny Rabbit</a><br>
    <br>
</body>
</html>
